body {
    margin: 60px auto;
    width: 50%;
    font-family: 'Varela Round', sans-serif;  
    background-color: rgba(68, 68, 68);
    color:rgba(221, 221, 221);
}
nav ul, footer ul {
    font-family: 'Varela Round', sans-serif;
    padding: 0px;
    list-style: none;
}
nav ul li, footer ul li {
    font-family: 'Varela Round', sans-serif;
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: rgba(221, 204, 0);
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 2em;
    font-family: 'Varela Round', sans-serif;
}
p {
    font-family: 'Varela Round', sans-serif;
    font-size: 12 pt;
    line-height: 1.4em;
    color:rgba(221, 221, 221);
}
footer {
    font-family: 'Varela Round', sans-serif;
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    font-family: 'Varela Round', sans-serif;
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}


.mainBlock {
    background-color: #444;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 20px;
    margin: 0 10px;
    -webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

